@import 'variables';
@import 'mixins';
@import 'general';

@import 'header';
@import 'hero';
@import 'about';
@import 'services';
@import 'gallery';
@import 'contacts';
@import 'footer';
@import 'services-page';