<footer class="footer">
    <div class="footer__social">
        <a href="https://www.planity.com/margo-look-84000-avignon-mdm" target="_blank" class="footer__icon">
        <img src="src/icons/planity.png" alt="Instagram Margo Look">
        </a>
        <a href="https://www.instagram.com/margo.look/" target="_blank" class="footer__icon">
        <img src="src/icons/instagram.png" alt="Website Margo Look">
        </a>
    </div>
    <p class="footer__copy">© 2025 Margo Look, Inc. All rights reserved.</p>
</footer>