<header class="header">
  <div class="header__inner">
    <div class="header_icon">
      <a href="index.html" class="headnav_link">MARGO <br> LOOK</a>
    </div>

    <nav class="headnav">
      <div class="burger">
        <span></span>
      </div>

      <ul class="headnav_list">
        <li class="headnav_item">
          <a href="https://www.planity.com/margo-look-84000-avignon-mdm" class="headnav_link">Prendre RDV</a>
        </li>
        <li class="headnav_item">
          <a href="services.html" class="headnav_link">Services</a>
        </li>
        <li class="headnav_item">
          <a href="about.html" class="headnav_link">About Us</a>
        </li>
        <li class="headnav_item">
          <a href="index.html#contact" class="headnav_link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
